header {
    display: flex;
    height: auto;
    width: 100%;
    color: aliceblue;
    background-color: rgba(102, 51, 153, 0.87);
    margin: 0;
    align-items: center;
    justify-content: space-between;

}

body {
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: #ffffffff;
}
header div a {
    text-decoration: none;
    color: #ffffffff;
}
p{
    text-indent: 2em;
}

h2 {
    border-bottom: 1px solid #0f0f0f0f;
}


th,
td {
    border: 1px solid #333;
    width: 100px;
}

h1{
    margin: 10px;
    font-size: 24px;
}


#mainPage {
    position: absolute;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#mainFooter {
    display: flex;
    padding: 40px;
    color: gray;
    border-top: 1px solid #0f0f0f0f;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Box {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    border: 2px solid #0f0f0f0f;
    width: 80%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}