
.search__container {
    height: 60px;
    width: 800px;
    margin: 100px auto 0 auto;
}

.search__parent {
    position: relative;
}

.search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}

.btn {
    /*height: 35px;*/
    /*width: 35px;*/
    margin: 0;
    position: absolute;
    /*background: url("../imgs/search.png") no-repeat;*/
    top: 8px;
    left: 470px;
    border: none;
    outline: none;
    cursor: pointer;
}